@model fix_ef_donet.DataContext.AbsenEntity
@{
    ViewData["Title"] = "Detail Absen";
}

<h2>Detail Absen</h2>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>Name</th>
        <td>@Model.AbsenName</td>
    </tr>
    <tr>
        <th>Izin</th>
        <td>@Model.Izin</td>
    </tr>
    <tr>
        <th>Sakit</th>
        <td>@Model.Sakit</td>
    </tr>
    <tr>
        <th>Absen</th>
        <td>@Model.Absen</td>
    </tr>
     <tr>
        <th>JumlahKehadiran</th>
        <td>@Model.JumlahHadir</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>@Model.Description</td>
    </tr>
</table>
<br />
<a asp-action="GetAll" class="btn btn-sm btn-secondary">Back</a>
